<h1>Confirmer votre adresse mail</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien ci dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon addresse mail</a>.
    Ce lien expirera dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
